TABLECAST_AUTH_SECRET=
TABLECAST_VOICE_API_TOKEN=
TABLECAST_VOICE_ENABLED=false
TABLECAST_GOOGLE_CLIENT_ID=
TABLECAST_GOOGLE_CLIENT_SECRET=
TABLECAST_LIVEKIT_URL=
TABLECAST_LIVEKIT_API_KEY=
TABLECAST_LIVEKIT_API_SECRET=
TABLECAST_MODEL_API_KEY=
TABLECAST_MODEL=
TABLECAST_INWORLD_VOICES_API_KEY=
TABLECAST_GOOGLE_EMULATOR_URL=
TABLECAST_EMAIL_FROM=
TABLECAST_MAILPIT_URL=
